API_PORT                    # number: port on which the http server listens
API_HOSTNAME                # string: a name of the server (localhost by default)

EMAIL_TOKEN_SECRET          # string: JWT token secret

# mongodb+srv://<user>:<password>@cluster0.rdh1u10.mongodb.net/<API_HOSTNAME>
DATABASE_URL                # string: A url for mongodb database